<mat-drawer-container class="container" hasBackdrop="true">

  <!-- SideNav -->
  <mat-drawer #drawer mode="over">

    <mat-toolbar color="primary">
      <span>Catálogo de Filmes</span>
      <span class="spacer"></span>
      <button (click)="drawer.close()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>SPA</mat-card-title>
        <mat-card-subtitle>Bem vindo(a)</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-list (click)="drawer.close()">
      <mat-list-item><mat-icon class="sidenav">movie</mat-icon><a routerLink="/search">&nbsp;Buscar Filmes</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="sidenav">app_settings_alt</mat-icon><a routerLink="/about-app">&nbsp;Sobre o App</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="sidenav">person</mat-icon><a routerLink="/about-dev">&nbsp;Sobre o Dev</a></mat-list-item>
    </mat-list>

  </mat-drawer>
  <!--// SideNav -->

  <!-- Content SPA -->
  <mat-drawer-content>

    <!-- Toolbar-->
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button aria-label="SideNav">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Catálogo de Filmes</span>
      <span class="spacer"></span>
      <button (click)="goToHome()" mat-icon-button>
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </mat-toolbar>
    <!--// Toolbar -->

    <!-- Content Rotas-->
    <router-outlet></router-outlet>
    <!--// Content Rotas-->

  </mat-drawer-content>
  <!--// Content SPA -->

</mat-drawer-container>
